body{
	font-size: 18px;
}
a{
	text-decoration: none;
	color: #2F2222;
}
h2{
	font-size: 24px;
	font-weight: 500;
}
h3{
	font-size: 18px;
	font-weight: 400;
}

.header{
	align-items: center;
	padding: 10px 0;
}
.menu{
	margin-left: auto;
}
.list{
	list-style: none;
	gap: 25px;
}

.block{
	padding: 30px 30px;
	margin: 20px 0;
	border-radius: 30px;
}
.block:hover{
	box-shadow: 5px 5px 5px rgba(0, 0, 255, .2);
}
.block__info{
	font-size: 16px;
	padding: 0 10px;
}
.block__categ{
	margin-top: 5px;
}
.block__date{
	margin-left: auto;
}
.card{
	background: #5D71DD;
	border-radius: 20px;
	padding: 0 30px;
	color: #FFFFFF;
}
.card:hover{
	box-shadow: 5px 5px 5px rgba(0, 0, 255, .2);
	background: #ffff;
	color: black;
}

.card:hover .card__categ{
	color: #5D71DD;
}
.card:hover .card__date{
	color: #2F222266;
}
.card__categ{
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 30px;
}
.card h2{
	margin-bottom: 90px;
}

.card__bg1{
	background: no-repeat center/120% url(img/space.jpg);
}
.card__bg2{
	background: no-repeat center/120% url(img/space2.png);
}
.card__bg1:hover{
	background: no-repeat center/120% url(img/space.jpg);
	color: #ffff;
}
.card__bg2:hover{
	background: no-repeat center/120% url(img/space2.png);
	color: #ffff;
}
.card__bg1:hover .card__categ{
	color: #ffff;
}
.card__bg1:hover  .card__date{
	color: #ffff;
}
.card__bg2:hover .card__categ{
	color: #ffff;
}
.card__bg2:hover  .card__date{
	color: #ffff;
}

.card__bg1 .card__categ:hover{
	background: rgba(255, 255, 255, 0.4);
}
.card__bg2 .card__categ:hover{
	background: rgba(255, 255, 255, 0.4);
}
.pages__list{
	list-style: none;
	justify-content: center;
	margin-top: 70px;
	gap: 40px;
}
.pages__list a:hover{
	color: #5D71DD;
}
.page__1{
	text-decoration: underline;
}
.page__next{
	padding: 5px;
	border-radius: 5px;
}
.page__next:hover{
	background: rgba(93, 113, 221, 0.2);
}
.more-posts__btn{
	display: none;
}

.side-block__news{
	padding: 30px 0;
}
.side-block__news h3:hover{
	color: #5D71DD;
}
.side-block__input{
	border: none;
	padding: 10px 20px;
	border-radius: 25px;
}
.side-block__btn{
	border: none;
	padding: 20px 20px;
	border-radius: 30px;
	background: #5D71DD;
	color: #FFFFFF;
	font-size: 18px;
}
.side-block__btn:focus{
	border: 1px solid black;
}


.footer{
	margin-top: 100px;
}
.footer__list{
	list-style: none;
	justify-content: center;
	margin-top: 20px;
}
.footer__list li{
	margin-right: 40px;
}
.rights{
	font-size: 14px;
}


.di-flex{
	display: flex;
}
.mx-auto{
	margin-left: auto;
	margin-right: auto;
}
.ta-center{
	text-align: center;
}
.ml-50{
	margin-left: 50px;
}
.mt-50{
	margin-top: 50px;
}
.mt-25{
	margin-top: 25px;
}
.secondary-txt{
	color: #2F222266;
}
.third-txt{
	color: #5D71DD;
}

@media (max-width: 320px) {
	.banner{
		height: 120px;
	}
	.logo, .menu, .pages, .footer{
		display: none;
	}
	.di-flex{
		display: block;
	}
	.ml-50{
		margin-left: 0;
	}
	.card{
		padding: 10px;
		height: 350px;
		margin-top: 20px;
	}
	.more-posts__btn{
		display: block;
	}
	.post__6, .post__7, .post__8, .post__9, .post__10, .post__11{
		display: none;
	} 
	.side-block{
		margin-top: 50px;
	}
}

@media (max-width: 1024px) {
	.logo, .menu{
		display: none;
	}
	.side-block{
		flex: none;
	}
	.di-content{
		display: block;
	}

	.post__7, .post__8, .post__9, .post__10, .post__11{
		display: none;
	}
	.side-block__distribution{
		text-align: left;
	} 
	.side-block__news-block, .side-block__instr{
		display: flex;
	}
}